:root {
  --primary: #161c40;
  --primary-light: #7b7da6;
  --secondary: #f2ca52;

  --font-family: 'Poppins', sans-serif;
  --font-size: 16px;
  --title-size: 20px;

  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;
}
